.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
} 
